@model List<NotesApp.Models.Notes.CategoryViewModel>

<div>
    <a href="/Categories/Add">Create category</a>
</div>
<div>
    @foreach (var category in Model)
    {
        <div>@category.Name</div>
    }
</div>