@model List<NotesApp.Models.Notes.UserNotesViewModel>

<div>
    <a href="/AuthNotes/Registration">Create User</a>
</div>
<div>
    @foreach (var user in Model)
    {
        <div>@user.UserName</div>
    }
</div>

